@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body);
}

:root {
  --body: rgb(244, 244, 255);
  --container: rgb(244, 244, 255);
  --dark: rgb(29, 29, 29);
  --light: rgb(39, 39, 39);
  --active: rgb(97, 218, 251);
}

.container-fluid {
  display: flex;
  justify-content: center;
}

.container {
  background-color: var(--container);
  width: 100%;
}

nav a {
  color: white;
}

/***** PRIMARY NAV *****/
.primary-nav {
  background-color: var(--dark);
  padding: 1.5rem 0rem;
  border-top: 2px solid var(--dark);
}

.primary-nav a {
  padding: 1.5rem 3rem;
  text-decoration: none;;
}

.primary-nav a.active {
  color: var(--active);
  background-color: var(--light);
  padding: 1.5rem 3rem;
  border-top: 2px solid var(--active);
}

/***** SECONDARY NAV *****/
.secondary-nav {
  background-color: var(--light);
  padding: 1rem 2rem;
  align-items: center;
}

.secondary-nav a {
  padding: 1rem 2rem;
  text-decoration: none;
}

.secondary-nav a.active {
  color: var(--active);
  padding: 1rem 2rem;
}
